.skeleton {
  border: 1px solid var(--primary-color-6);
  border-radius: 0;
  animation: skeleton-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  background-color: color-mix(in oklab, var(--primary-color-4) 78%, transparent);
  background-image: linear-gradient(
    45deg,
    color-mix(in oklab, var(--primary-color-5) 32%, transparent) 25%,
    transparent 25%,
    transparent 50%,
    color-mix(in oklab, var(--primary-color-5) 32%, transparent) 50%,
    color-mix(in oklab, var(--primary-color-5) 32%, transparent) 75%,
    transparent 75%,
    transparent
  );
  background-size: 8px 8px;
}
@keyframes skeleton-pulse {
  0%,
  100% {
    opacity: 1;
  }
  61.8% {
    opacity: 0.5;
  }
}
